body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p.verso {
    color: blue;
}

p.mote {
    color: red;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 4px;
}

.buttonLink {
    text-decoration: none;
    padding: 8px;
    background-color: #DDDDDD;
    color: black;
    border-radius: 5px;
}

.buttonLink:hover {
    background-color: red
}

#containerButton {
    padding-top: 14px;
}

.personImage {
    width: 220px;
    height: 220px;
}

div.poeta img {
    border-radius: 50%;
}
