th, td {
    text-align: left;
    padding: 8px;
    width: 100%;
}

th {
    background-color: aquamarine;
    color: black;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

#divBotao {
    padding-bottom: 10px;
}

#botaoCarregar {
    padding: 10px;
    font-weight: bold;
    border-color: black;
    border-radius: 5px;
    font-size: large;
}

#botaoCarregar:hover {
    background-color: #DDDDDD;
}